.chatScreen__text{
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 20px;
}
.chatScreen__mess{
    display: flex;
    align-items: center;
    padding: 15px;
}
.chatScreen__time{
    text-align: center;
    color: gray;
    padding: 20px;
}
.chatScreen__Usertext{
    margin-left: auto;
    background-color: #29b3cd;
    border-radius: 20px;
    padding: 20px;

}
.chatScreen__input{
    display: flex;
    padding: 5px;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid lightgray;
}
.chatScreen__inputFlield{
    flex:1;
    border: none;
}
.chatScreen__inputButton{
    border: none;
    margin-right: 20px;
    background-color: white;
    color: #fe3d71;
}